@page "/segmentpage/{categoryId:int}"
@using Microsoft.AspNetCore.Authorization
@using ValhallaVaultCyberAwereness.Data.Models
@using ValhallaVaultCyberAwereness.Service
@inject ValhallaVaultCyberAwereness.Service.CategoryRepo CategoryRepo

@attribute [Authorize]

<h3>Segment</h3>

@if (segments.Any())
{
    <div>
        <h4>I detta segment handlar det om @selectedCategory.Categories</h4>
            @foreach (var segment in segments)
            {
                <div>

				<h3><strong>@segment.SegmentTitle</strong></h3>
                 
                    <!--Displaya alla questions will varje fråga-->
                @foreach (var question in questions.Where(q => q.SegmentId == segment.SegmentId))
                {
                    <div>
						<p><strong>@question.Title</strong></p> <!--Detta blir SUBKATEGORI, GÖR KNAPP-->
                        <p>Innehåll: @question.Explanation</p>
                        @* <button class="btn btn-outline-warning" @onclick="() => GoToQuestionPage(question.QuestionId)">Gå till frågesidan</button> *@
                        <a href="/questionpage/@question.QuestionId">Till frågorna</a>
                    </div>
                }
                </div>
            }
    </div>
    
}
else
{
    <p>Hmm.. error 404.</p>
}



@code {
    private List<Segment> segments = new List<Segment>();
    private List<Question> questions = new List<Question>();
    [Inject]
    private SegmentRepo segmentRepo { get; set; }
    [Inject]
    private CategoryRepo categoryRepo { get; set; }
    [Inject]
    private QuestionRepo questionRepo { get; set; }
    [Inject]
    private NavigationManager navigationManager { get; set; }

    [Parameter]
    public int categoryId { get; set; }


    private Category selectedCategory;

    protected override async Task OnInitializedAsync()
    {
        segments = await segmentRepo.GetSegmentsByCategoryIdAsync(categoryId);
        // displaya vald category
        selectedCategory = await categoryRepo.GetCategoryByIdAsync(categoryId);
        // Displaya questions will varje segment
        questions = await questionRepo.GetAllQuestionAsync();
    }

    // private void GoToQuestionPage(int questionId)
    // {
    //     if(navigationManager != null)
    //     {
    //         Console.WriteLine("hehe");
    //         navigationManager.NavigateTo($"/questionpage/{questionId}");


    //     }
    //     else
    //     {
    //         Console.WriteLine("Något fel..");
    //     }
    // }

 

}
