@page "/segmentpage"
@using Microsoft.AspNetCore.Authorization
@using ValhallaVaultCyberAwereness.Data.Models
@using ValhallaVaultCyberAwereness.Service

@attribute [Authorize]

<h3>SegmentPage</h3>

<p>Beskriv några segment bara...</p>


@code {

}
