@page "/subsegmentpage/{questionId}"
@using Microsoft.AspNetCore.Authorization
@using ValhallaVaultCyberAwereness.Data.Models
@using ValhallaVaultCyberAwereness.Service

@attribute [Authorize]


<h3>SubSegmentPage</h3>

@* 
	Info om en specifik kategori.
	Möjligheten att se vilka segment som ingår i kategorin och deras subkategorier.
	Om alla segment i kategorin är avklarade ska detta synas på något sätt!
 *@


 <a>Gå till frågesida </a>
<h1>Question ID: @questionId</h1>

<h1> hahaaha loololo roflmao</h1>

@code {
	[Parameter]
	public int questionId { get; set; }
}
