@page "/subsegmentpage"
@using Microsoft.AspNetCore.Authorization
@using ValhallaVaultCyberAwereness.Data.Models
@using ValhallaVaultCyberAwereness.Service

@attribute [Authorize]


<h3>SubSegmentPage</h3>

@* 
	Info om en specifik kategori.
	Möjligheten att se vilka segment som ingår i kategorin och deras subkategorier.
	Om alla segment i kategorin är avklarade ska detta synas på något sätt!
 *@


 <a>Gå till frågesida </a>

@code {

}
