@inherits LayoutComponentBase
<body style="background-color: black; color: white;">
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
            <header class="pb-1 border-bottom">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <img src="Images/logga.png" style="height: 50px; width: 50px;">
                    </div>
                    <div class="col">
                        <span class="fs-4">be a part AB | Human-Centered Digital Solutions</span>
                    </div>
                </div>
            </header>

        <article class="content px-4">
            @Body
                <video autoplay muted loop style="position: fixed; object-fit: cover; z-index: -1; top: 0; left: 0; width: 100%; height: 100%; opacity:0,7">
                    <source src="/Videos/abstract.mp4" type="video/mp4">
                </video>
        </article>
    </main>
</div>
    <footer class="text-center fixed-bottom bg-dark">
            <div >
            <p>
                <img src="Images/LI-In-Bug.png" style="height: 25px; width: 25px;">  Created by
                <a href="https://www.linkedin.com/in/josef-montanari-2864b9222/">Josef M</a>,
                <a href="https://www.linkedin.com/in/timnordin/">Tim N</a>, 
                <a href="https://www.linkedin.com/in/husam-emrulovski-70b24b2b4/">Husam E</a>, 
                <a href="https://www.linkedin.com/in/luufredrik/">Fredrik L</a>
            </p>
        </div>
    </footer>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

</body>
