@page "/questions"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Newtonsoft.Json
@using ValhallaVaultCyberAwereness.Data.Models
@using ValhallaVaultCyberAwereness.Service
@attribute [Authorize]
@rendermode InteractiveServer
<h3>Questions</h3>

@if (AllQuestions != null)
{
    @foreach (var question in AllQuestions)
{
    <h1>@question.Questions</h1>
}

}

@if (QuestionsListFromDb != null)
{
@foreach (var question in QuestionsListFromDb)
{
    <h1>@question.Questions</h1>
}
}


@code {
    public List<Question>? AllQuestions { get; set; }
    public List<Segment> Segments { get; set; }

    [Inject]  //behövs annars får vi object reference not set to an instance of an object.. Vi tar bort denna kommentar sen //Tim
    public Data.ApplicationDbContext _context { get; set; }  
    public List<Question>? QuestionsListFromDb { get; set; } 

	protected override async Task OnInitializedAsync()
	{
        QuestionsListFromDb = await _context.Questions.ToListAsync();

        AllQuestions = new List<Question>
        {
            new Question
            {
                QuestionId = 1,
                Questions = "injection tester - what does he/she do?",
                PossibleAnswers = new List<string> { "hacking people", "testing code", "server management" },
                CorrectAnswer = "testing code",
                SegmentId = 1  // segment 1
            },
            new Question
            {
                QuestionId = 2,
                Questions = "What is red team doing??",
                PossibleAnswers = new List<string> { "Cyberattacker", "Cyberdefender", "Fotball team" },
                CorrectAnswer = "Cyberattacker",
                SegmentId = 2 // segmnt 2
            },
            new Question
            {
                QuestionId = 3,
                Questions = "What is blue team doing?",
                PossibleAnswers = new List<string> { "Defending cyberattacks", "Attacking coders", "codeattacking mup" },
                CorrectAnswer = "Defending cyberattacks",
                SegmentId = 3 // tillhör segment 3
            }

        };

        Segments = new List<Segment>
                {
            new Segment
            {
                SegmentId = 1,
                SegmentTitle = "Injecter",
                CategoryId = 1 // tillhör categori 1
            },
            new Segment
            {
                SegmentId = 2,
                SegmentTitle = "Red questions",
                CategoryId = 1 // categori 1
            },
            new Segment
            {
                SegmentId = 3,
                SegmentTitle = "blue questions",
                CategoryId = 2 // tillhör categori 2
            }

        };
    }
}
