@page "/displayusername"
@rendermode InteractiveServer

<input type="checkbox" class="form-check-input" @onchange="CheckChanged" />
<p>@checkChanged</p>

@code {
    [Parameter]
    public bool isChecked { get; set; } = true;
    private string checkChanged = "i am not checked";
    private void CheckChanged()
    {
        if (isChecked)
        {
            checkChanged = "You have checked";
            isChecked = !isChecked;
        }
        else
        {
            checkChanged = "you have unchecked";
            isChecked = !isChecked;
        }
    }
}