@page "/questionpage/{questionId:int}"
<h3>QuestionsPage</h3>

@* Tillfällig sida, bara länkar hit för "frågesida" *@

<h1>Question ID: @questionId</h1>

<h1> hahaaha loololo roflmao</h1>
@code {
	[Parameter]
	public int questionId { get; set; }

}
