@page "/add/category"
@using Microsoft.AspNetCore.Authorization
@using ValhallaVaultCyberAwereness.Data.Models
@using ValhallaVaultCyberAwereness.Service
@rendermode InteractiveServer
@inject CategoryRepo categoryRepo
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "Admin")]

<div class="row">
	<EditForm Model="CategoryToAdd" OnValidSubmit="HandleSubmit">
		<div class="col-lg-6">
			<label>Category name:</label>
			<DataAnnotationsValidator />
			<InputText id="CategoryName" @bind-Value="CategoryToAdd.Categories" class="form-control"></InputText>
			<ValidationSummary></ValidationSummary>
		</div>
		<br />
		<button type="submit" class="btn btn-outline-dark" style="color:antiquewhite">Submit</button>
	</EditForm>
</div>


@code {
	public Category? CategoryToAdd { get; set; } = new();

	protected override void OnInitialized()
	{
		base.OnInitialized();
	}

	private async void HandleSubmit()
	{
		await categoryRepo.AddCategoryAsync(CategoryToAdd);
		navigationManager.NavigateTo("/admin");
	}
}
